.footer__column-link {
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: .7;
}
